*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background-color: aliceblue;
    line-height: 1.2;
    font-family: sans-serif;
}
.container{
    max-width:1300px ;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.img{
    background: url(images/net3.webp);
    height: 280px;
    width: 1300px;
    background-position: center;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    text-transform: uppercase;
}
.symbol img{
    height: 100px;
    width: 320px;
}
.content_flex nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    color: #ffffff;
}
nav ul li a{
    color: skyblue;
    text-decoration: none;
    padding: 2px 4px;
    border: 2px solid transparent;
}
ul li a:hover{
    border: 2px solid skyblue;
    padding: 2px 4px;
}

ul li ul{
    padding: 0;
    position: absolute;
    top: 35px;
    left: 0;
    width: 200px;
    display: none;
}
ul li ul li{
    display: block;
    color: #fff;
    height: 50px;
}

ul li ul li a{
    color:skyblue;
    font-size: 16px;
    text-decoration: none;
    display: block;
}
ul li:hover ul{
    display: block;
}
.text_type{
    position: absolute;
    top: 170px;
    right: 990px;
    color: white;
}
.text_type p{
    color: rgb(233, 225, 225);
}
/* new section */
.container_2{
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 270px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
}
.text_type_2 .p_12{
    text-align: left; 
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
.text_type_2{
    width: 950px;
}
.symbol_2{
    width: 200px;
}
.symbol_2 img{
    height: 150px;
    width: 200px;
   /* position: absolute;
   right: 100px;
   top: 50px; */
}
/* new section */
.container_3{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    padding-top: 15px;
    background-color: black;
    height: 220PX;
    color: white;
    line-height: 1.5;
}
.container_3 .online{
    padding-top: 20px;
}
@media(max-width:760px){
    .content_flex ul li{
        display: flex;
        flex-direction:column;
        padding: 3px;
        line-height:1.2;
        }
    .container_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;

    } 
        .container_2 .text_type_2{
            width: 480px;
            padding: 10px 30px 10px 20px;
    }
    .container_2 .symbol_2{
        width: 480px;
    }
    .container_3{
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding-bottom: 15px;
    }

}